extends layout.pug

block content

  nav.nav
    a(href='/')
      span &larr;
      |  Back

  article.portfolio-about
    .inner-wrapper.flex-row-wrap.two-col
      .about-intro-box.box

        h1 Justin Reed

        p Full Stack Javascript Developer
        
        .about-bio

          p I am a designer who enjoys making the technology as intuitive to use as possible. With my background in business analysis I am comfortable with gathering requirements and working with multiple stakeholders. Currently working on my own projects part time and looking for full time work at a mid to large sized company  

      .skills-contact-box.box
        h6 Skills

        ul
          li HTML
          li CSS
          li JavaScript
          li Git and GitHub
          li Atom
          li Accessibility
          li OOP
          li Fetch and Public APIs
          li Node.js
          li Express
          li Pug

        h6 Contact Info

        ul
          li 503-805-5992
          li reedjustin77@gmail.com

        a.btn-link(href='https://www.linkedin.com/in/justin-reed-853aba153/', target="_blank") LinkedIn
        a.btn-link(href= 'https://github.com/johnreed503', target="_blank") GitHub

    nav.nav
      a(href='/')
        span &larr;
        |  Back
